@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --box-color: #ffafcc;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #e7ecef;
  background-color: #161a1d;
}
